.contenedor{
    width: 300px;
    margin: auto;
    text-align: center;
    
    background-color: #e4c3c3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 5cm;
}
.salida{
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
}